
{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | About {% endblock %}

{% block content %}

<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">About</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Start About Section -->

<section class="about-section" id="reach-to" style="background-image: url({% static 'img/bg-bottom.png' %});">
     <div class="row mx-5">
        <div class="col-lg-12">
            <div class="icon-default text-center" style="background-image: url({% static 'img/pattern/pattern-1.png' %});">
                <a href="#reach-to" class="scroll">
                    <img src="{% static 'img/shape/scroll-arrow.png' %}" alt="not found" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="row mx-5 my-5">
        <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        <div class="col-lg-1"></div>
    </div>
    {% endif %}


    <div class="row mx-5">
        <div class="col-md-6">
            <div class="about-img">
                <img src="{{ about_us.image.url }}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="section-content">
                <div class="section-title">
                    <h3>{{ about_us.title }}</h3>
                </div>
                <p>{{ about_us.description }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->


<!-- start history section from here -->
<section class="history-section" style="background-image: url({% static 'img/about/history.png' %});">
    <div class="row mx-5 align-manual">
        <div class="col-lg-12">
            <div class="history-title">
                <h3>Our History</h3>
                <p>We are the nation’s leading online wine store, are often looking for new, high energy, entrepreneurial team members.</p>
            </div>
        </div>
    </div>
    <div class="row mx-5 mt-5">
        <div class="col-md-3 text-center">
            <div class="outline">
                <i class="fas fa-calendar"></i>
                <h2 class="pad-res" style="margin-top: 50px;"><span class="counter">{{ history.experience }}</span><span class="ml-1">+</span></h2>
                <h2 class="pad-res-1" style="margin-bottom: 20px;">Years Experience</h2>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <!-- <img src="img/counter/c-1.png" alt=""> -->
            <div class="outline">
                <i class="fas fa-user-plus"></i>
                <h2 class="pad-res" style="margin-top: 50px;"><span class="counter">{{ history.happy_customer }}</span><span class="ml-1">+</span></h2>
                <h2 class="pad-res-1" style="margin-bottom: 20px;">Happy Customer</h2>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <!-- <img src="img/counter/c-2.png" alt=""> -->
            <div class="outline">
                <i class="fas fa-hamburger"></i>
                <h2 class="pad-res" style="margin-top: 50px;"><span class="counter">{{ history.avail_food_item }}</span><span>+</span></h2>
                <h2 class="pad-res-1" style="margin-bottom: 20px;">Avialable Food Item</h2>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <!-- <img src="img/counter/c-2.png" alt=""> -->
            <div class="outline">
                <i class="fas fa-tasks"></i>
                <h2 class="pad-res" style="margin-top: 50px;"><span class="counter">{{ history.running_order }}</span><span>+</span></h2>
                <h2 class="pad-res-1" style="margin-bottom: 20px;">Running Order</h2>
            </div>
        </div>
    </div>
</section>

<!-- End history section from here -->

<!-- Start Chef Section CSS From Here -->
<!-- <section class="chef-section">
    <div class="row mx-5">
        <div class="col-lg-12">
            <div class="title text-center">
                <h3>Our Special Chef</h3>
                <h5>Meet Professional Cook Team</h5>
            </div>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-lg-12">
            <div class="owl-carousel owl-theme chef-slider" data-items="4" data-laptop="3" data-tablet="2" data-mobile="1" data-nav="true" data-dots="false" data-autoplay="true" data-speed="1800" data-autotime="5000">
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef1.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Anna Taylor</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef2.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Alex Wilson</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef3.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Anita Golden</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef4.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Benderd Dimitor</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef1.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Anna Taylor</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef2.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Alex Wilson</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef3.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Anita Golden</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>b
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef-blog">
                    <div class="chef-inner">
                        <div class="chef-member">
                            <img src="{% static 'img/about/chef2.png' %}" alt="">
                        </div>
                        <div class="chef-info">
                            <h5>Benderd Dimitor</h5>
                            <span>Head Chief</span>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</section> -->
<!-- End Chef Section CSS Here -->

<!-- Start Subscription Section css From Here -->
<section class="subscription-section">
    <div class="subscribe-shape">
        <img src="{% static 'img/about/subscribe-shape.png' %}" class="img-fluid" alt="">
    </div>
    <div class="row mx-5">
        <div class="col-lg-5 col-sm-5 my-auto">
            <div>
                <div class="news-letter-title">
                <h3>Subscribe News Letter for Get Update</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis aperiam nisi, doloribus dolores, ducimus?</p>
            </div>
            <form action="{% url 'subscribtion' %}" method="POST">
                {% csrf_token %}
                <div class="form-inline position-relative pb-2">
                    <input type="email" name="email" class="form-control py-20 w-100" placeholder="Email Address">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-paper-plane fs-24 position-absolute"></i>
                    </button>
                    
                </div>                
            </form>

            </div>
        </div>
        <div class="col-lg-1 col-sm-1"></div>
        <div class="col-lg-6 col-sm-6 my-auto">
            <div class="subscription-img text-center">
                <img src="{% static 'img/about/subscription.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Subscription Section css Here -->


<!-- Brand Section Start From Here -->
<!-- Start Brand Images Section -->
<section class="brand-img-section">
        <div class="row mx-5">
            <div class="col-md-12">
             <div id="owl-brand" class="owl-carousel owl-theme">
                 {% for i in brands %}
                <div class="item"><img src="{{ i.logo.url }}" title="{{ i.name }}" class="" alt=""></div>
                {% endfor %}
                <!-- <div class="item"><img src="{% static 'img/about/partner2.png' %}" class="" alt=""></div>
                <div class="item"><img src="{% static 'img/about/partner3.png' %}" class="" alt=""></div>
                <div class="item"><img src="{% static 'img/about/partner4.png' %}" class="" alt=""></div>
                <div class="item"><img src="{% static 'img/about/partner5.png' %}" class="" alt=""></div> -->
            </div>
            </div>
        </div>
</section>
<!-- Start Brand Images Section -->
<!-- Brand Section Ended Here -->

{% endblock %}