{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | Contact {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Contact</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Start Contact Section -->
<section class="contact-section">
    <div class="row mx-5">
        <div class="col-lg-4 col-md-4 wow slideInLeft" data-wow-duration="1.5s"
            style="visibility: visible; animation-name:slideInLeft;">
            <div class="contact-details">
                <div class="details-title">
                    <h3 class="d-flex">
                        <sapn class="">
                            <h3>Contact <span>Details</span></h3>
                        </sapn>
                        <sapn class="bar mt-4 ml-2"></sapn>
                    </h3>
                </div>
                <div class="address hov-effect">
                    <div class="row">
                        <div class="col-md-2 icon-pos">
                            <div class="icon">
                                <img src="{% static 'img/contact/address.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h2>Shop Address</h2>
                            <p>{{ contact.shop_address }}</p>
                        </div>
                    </div>
                </div>
                <div class="phone hov-effect mt-3">
                    <div class="row">
                        <div class="col-md-2 icon-pos">
                            <div class="icon">
                                <img src="{% static 'img/contact/phone.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h2>Phone</h2>
                            <p>{{ contact.phone }}</p>
                        </div>
                    </div>
                </div>
                <div class="email hov-effect  mt-3">
                    <div class="row">
                        <div class="col-md-2 icon-pos">
                            <div class="icon">
                                <img src="{% static 'img/contact/email.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h2>Email Address</h2>
                            <p>{{ contact.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 wow fadeInUP" data-wow-delay="0.4s"
            style="visibility: visible; animation-name: fadeInUp;">
            <div class="contact-form-area">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="contact-info text-center">
                    <h2>Send Us A Message</h2>
                    <p style="color: #999;">We are always ready to listen you first</p>
                </div>
                <form id="contatc_form" method="POST" action="{% url 'contact' %}" name="myform">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" id="contact_name" placeholder="Name*" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="contact_email" placeholder="E-mail*" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="subject" id="contact_subject" placeholder="Subject*"
                                    required="" restrict="A-Z\a-z\0-9">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="phone" id="contact_phone" placeholder="Phone*" required=""
                                    restrict="A-Z\a-z\0-9">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-18">
                        <textarea name="message" id="contact_message" rows="6" placeholder="Message*" required=""
                            restrict="A-Z\a-z\0-9" spellcheck="false"></textarea>
                    </div>
                    <div class="text-left">
                        <div id="contact_send_status"></div>
                        <input type="submit" class="sbmt-btn mt-2" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->


<section class="office-location-section mb-4">
    <div class="row mx-5">
        {% for shop in shops %}
        <div class="col-md-4 col-lg-3 mb-2">
            <div class="office-title">
                <h3 class="d-flex">
                    <sapn class="">
                        <h3>{{ shop.shop_title }}</h3>
                    </sapn>
                    <sapn class="bar mt-4 ml-2"></sapn>
                </h3>
                <h6 style="line-height: 35px;"><i class="fas fa-map-marker-alt mr-2"></i>{{ shop.address}}</h6>
                <h6 style="line-height: 35px;"><i class="fas fa-phone-square-alt mr-2"></i>{{ shop.phone}}</h6>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="col-md-6 col-lg-6">
            <div class="office-location-bg">
                <img src="{% static 'img/contact/map-bg.png' %}" class="img-fluid" alt="">
            </div>
            <div class="location-marker-{{ forloop.counter }}">
                <div class="map-icon">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="location-content">
                        <h5 class="py-2">{{ i.shop }}</h5>
                        <p>{{ i.address }}</p>
                        <p>{{ i.district }}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
{% endblock %}