{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | Food Details {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Beef Burger</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'offers' %}">Offers</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Beef Burger</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Start Food Details Section -->
<section class="food-details-section">
  <div class="row mx-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="food-title-img">
        <span class="on-sale">SALE</span>
        <img src="{{ product.image.url }}" width="60%;" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="food-summary">
        <h1 class="summary-title">{{ product.name }}</h1>
        <div class="price text-left pt-2 my-2">
          {% if product.discount %}
          <span class="ml-1">
            <del class="mr-3">
             <span>Tk.</span>
             <span>{{ product.price }} </span>
           </del>
           <ins class="ml-3 text-decoration-none">
            <span>Tk.</span>
            <span>{{ discount_price }}</span>
          </ins>
        </span>
        {% else %}
          <span class="ml-1">
           <ins class="text-decoration-none">
            <span>Tk.</span>
            <span>{{ product.price }}</span>
          </ins>
        </span>
        {% endif %}
      </div>
      <div class="short-desc mt-3">
        <p>{{ product.description }}</p>
      </div>
      <form action="{% url 'catering_mail' %}" method="POST" style="border-bottom: 1px solid #333;" class="mb-5 pb-3">
        {% csrf_token %}
        <div class="nb-quantity">
          <input name="quantity" class="form-control mt-3" width="50%;" type="number" placeholder="Qty" min="1">
          <input name="sku" type="hidden" value="{{ product.sku }}">
          <input name="name" type="hidden" value="{{ product.title }}">
          <button type="submit" class="btn my-3">Interested</button>
        </div>
      </form>
        <div class="category_wrapper my-2">
          <span class="posted_in meta-name">Categories: </span>
          <span>
            {% for i in product.category.all %}
            <a href="#" rel="tag">{{ i.name }}</a>, 
            {% endfor %}
            <!-- <a href="#" rel="tag">Offer</a> -->
          </span>
        </div>
        <div class="availability_wrapper my-3">
          <span class="meta-name">Availability:</span>
          {% if product.in_stock %}
          <span class="stock in-stock badge-success p-1">In Stock</span>
          {% else %}
          <span class="stock in-stock badge-danger p-1">Out of Stock</span>
          {% endif %}
        </div>
    </div>
  </div>
</div>
</section>
<!-- End Food Details Section -->



{% endblock %}