{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | Gallery {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Gallery</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->


<!-- Start Gallery Section CSS from here-->
<section class="gallery-section">
        <div class="row mx-5 mt-5">


            <div class="gallery-filter mb-5">
                <ul class="list-unstyled">
                    <li class="active" data-filter="*">All</li>
                    {% for i in categories %}
                    <li data-filter=".{{ i|lower }}">{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="gallery mt-5 text-white">
                {% for i in categories %}
                {% for j in i.product_set.all|slice:":20" %} 
                {% if j.is_active %}               
                <div class="col-md-4 col-sm-4 col-xs-12 isotope-item {{ i|lower }} mb-5">
                    <div class="single-food-gallery">
                        <a data-fancybox="gallery" href="{{ j.image.url }}">
                            <img src="{{ j.image.url }}" style="width: 100%; height:325px;" alt="">
                            <h4>{{ j.meal_category.name }}</h4>
                        </a>
                    </div>
                </div>
                {% endif %}
                    {% endfor %}                
                {% endfor %}
                </div>


            <!-- <div class="gallery-filter mb-5">
                <ul class="list-unstyled">
                    <li class="active" data-filter="*">All</li>
                    {% for i in categories %}
                    <li data-filter=".{{ i.name|lower }}">{{ i.name }}</li>
                    {% endfor %}
                </ul>
            </div> -->
            <!-- <div class="gallery mt-5 text-white">
                {% for i in categories %}
                
                <div class="col-md-12 isotope-item {{ i.name|lower }}">
                    {% for j in i.gallery_set.all %}                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-food-gallery">
                                <a data-fancybox="gallery" href="{{ j.image.url }}">
                                    <img src="{{ j.image.url }}" style="width: 100%; height:325px;" alt="">
                                    <h4>{{ j.category.name }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                        {% endfor %}                    
                </div>
                {% endfor %}
            </div> -->
    </div>
</section>
<!-- Start Gallery Section CSS from here-->



{% endblock %}