{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | Blog {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Blog</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Start News Section -->
<section class="blog-section">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        </div>
        <div class="col-md-2">
        </div>
    </div>

        <div class="row mx-5">
            <div class="col-lg-9 col-md-9">
                <div class="row zndx">
                    {% for post in posts %}
                    <div class="col-lg-6 wow fadeInUP" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="blog-item wow fadeInUp" style="visibility: visible;">
                            <a href="{% url 'single_post' post.id %}" target="_blank" class="single-boxed-item">
                                <div class="boxed-preview blog-img-5" style="background-image: url({{ post.image.url }});"></div>
                                <div class="date"><span>{{ post.created_date|date:'j' }}</span><span> {{ post.created_date|date:'M' }}</span></div>
                            </a>
                            <div class="blog-text">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fas fa-user"></i> {{ post.author }}</a></li>
                                </ul>
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.content|truncatewords:20 }}</p>
                            </div>
                            <div class="post-share-area">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <ul class="list-inline">
                                            <li><i class="ion-android-share-alt"></i> Share:</li>
                                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        <a href="{% url 'single_post' post.id %}" class="read-more-btn">Read More <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-lg-12 text-center d-flex justify-content-center">
                        {% if pagi.has_other_pages %}
                        <ul class="pagination pagination-box">
                            {% if pagi.has_previous %}
                              <li class="disabled"><a aria-label="Previous" href="?page={{ pagi.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in pagi.paginator.page_range %}
                              {% if pagi.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if pagi.has_next %}
                              <li><a aria-label="Next" href="?page={{ pagi.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <form action="" method="GET">               
                    <div class="news-serch-form wow fadeInUP" style="visibility: visible; animation-name: fadeInUp;">
                        <input type="text" name="search_word" placeholder="Search here.....">
                        <button type="submit"><i class="fas fa-search"></i></button>                        
                    </div>
                </form> 
                <div class="widget recent_posts wow fadeInUP" data-wow-delay="0.6s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Recent Post</h3>
                    <ul class="list-unstyled">
                        {% for i in recent_posts %}
                        <li>
                            <a href="{% url 'single_post' i.id %}">{{ i.title }} <span>{{ i.created_date|date:"j M Y" }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget recent_posts wow fadeInUP" data-wow-delay="0.9s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'category_posts' category.id %}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tag_widget tag_list wow fadeInUP" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Tags</h3>
                    <ul>
                        {% for i in tags %}
                        <li>
                            <a href="{% url 'tag_posts' i.id %}">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</section>
<!-- End News Section -->

{% endblock %}