{% extends 'base.html' %}

{% load static %}

{% block title %} {{ contact.name }} | Reservation {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Reservation</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Reservation</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Reservation Section CSS start From here -->

<div class="row my-5 mx-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-lg-1"></div>
</div>

<section class="reservation-section">
    <div class="row mx-5">
        <div class="col-lg-1">
            <div class="reserve-left-1">
                <img src="{% static 'img/shape/icon3.png' %}" class="img-fluid" alt="">
            </div>
            <div class="reserve-left-2">
                <img src="{% static 'img/shape/icon2.png' %}" class="img-fluid" alt="">
            </div>
        </div>

        <div class="col-lg-10 col-sm-12">
            <div class="reserve-form">
               <div class="form-title">
                   <h3>Book A Table</h3>
               </div>
               <div class="main-form">
                   <form action="" method="POST">
                       {% csrf_token %}
                       <div class="row">
                           <div class="col-md-6 mb-4">
                               <input type="text" name="name" placeholder="Name" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="email" name="email" placeholder="Email" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="text" name="address" placeholder="Address" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="text" name="phone" placeholder="Phone" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="number" name="num_table" placeholder="Number of Table" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="number" name="num_people" placeholder="Number of People" class="form-control" required="">
                           </div>
                           <div class="col-md-6 mb-4">
                               <input type="date" name="date" placeholder="Date" class="form-control" required="">
                           </div>
                           <div class="col-md-6">
                               <input type="time" name="time" placeholder="Time" class="form-control" required="">
                           </div>
                            <div class="col-md-12">
                                <button class="btn reserve-btn">Book Now</button>
                            </div>
                       </div>
                   </form>
               </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="reserve-right">
                <img src="{% static 'img/shape/icon4.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Reservation Section CSS start Ended here -->

{% endblock %}