{% extends 'base.html' %}

{% load static %}
{% load social_share %}

{% block title %} {{ contact.name }} | Blog {% endblock %}

{% block content %}


<!-- Start sub-menu-banner-section -->
<div class="sub-menu-banner-section" style="background-image: url({% static 'img/about/about-bg.jpg' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container" style="z-index: 9999;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <div class="title">
                        <h3 class="text-left">Blog</h3>
                    </div>
                    <nav aria-label="breadcrumb" style="display: flex; justify-content: flex-start; z-index: 999;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <span class="test-separator"></span>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End sub-menu-banner-section -->

<!-- Start Single News Section -->
<section class="single-news-section">
        <div class="row mx-5">

            <div class="col-md-2">
            </div>
            <div class="col-md-8">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="news-details-area">
                    <div class="blog-slides owl-carousel owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1830px;">
                                <div class="owl-item active" style="width: 610px; margin-right: 0px;">
                                    <div class="single-blog-slide">
                                        <a class="lightbox-gallery" href="{{ post.image.url }}">
                                            <img src="{{ post.image.url }}" class="img-fluid" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                {% if post.gallery_1 %}
                                <div class="owl-item" style="width: 610px; margin-right: 0px;">
                                    <div class="single-blog-slide">
                                        <a class="lightbox-gallery" href="{{ post.gallery_1.url }}">
                                            <img src="{{ post.gallery_1.url }}" class="img-fluid" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if post.gallery_2 %}
                                <div class="owl-item" style="width: 610px; margin-right: 0px;">
                                    <div class="single-blog-slide">
                                        <a class="lightbox-gallery" href="{{ post.gallery_2.url }}">
                                            <img src="{{ post.gallery_2.url }}" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                        <div class="news-description">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fas fa-calendar"></i>  {{ post.created_date|date:' j F' }}</a></li>
                                <li><a href="#"><i class="fas fa-user"></i> by {{ post.author.user }}</a></li>
                            </ul>
                            <h2> {{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                           
                        </div>
                        <div class="news-share-area wow fadeInUP" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="row zndx">
                                <div class="col-md-5">
                                    <a href="{{ request.META.HTTP_REFERER }}" class="read-more-btn"><i class="fas fa-arrow-circle-left"></i> Back</a>
                                </div>
                                <div class="col-md-7 text-right">
                                    <!-- <ul class="list-inline">
                                        <li><i class="ion-android-share-alt"></i> Share:</li>
                                        <li><a href="#"><i class="fab fa-facebook"></i>{% post_to_facebook post.title " " %}</a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook"></i>{% post_to_facebook post.title "Post to Facebook!" %}</a></li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3 col-md-4">
                <form action="" method="GET">               
                    <div class="news-serch-form wow fadeInUP" style="visibility: visible; animation-name: fadeInUp;">
                        <input type="text" name="search_word" placeholder="Search here.....">
                        <button type="submit"><i class="fas fa-search"></i></button>                        
                    </div>
                </form>                
                <div class="widget recent_posts wow fadeInUP" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Recent Posts</h3>
                    <ul class="list-unstyled">
                        {% for i in recent_posts %}
                        <li>
                            <a href="{% url 'single_post' i.id %}">{{ i.title }} <span>{{ i.created_date|date:"j M Y" }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget recent_posts wow fadeInUP" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'category_posts' category.id %}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tag_widget tag_list wow fadeInUP" data-wow-delay="0.6s" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="widget-title">Tags</h3>
                     <ul>
                         {% for i in post.tags.all %}
                        <li>
                            <a href="{% url 'tag_posts' i.id %}">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</section>
<!-- End Single News Section -->


{% endblock %}