
{% load static %}
<footer class="footer-bs footer-bs-home" style="background-image: url({% static 'img/bg-footer.jpg'%});">
     <div class="row mx-5">
        <div class="col-lg-12">
            <div class="icon-default text-center" style="background-image: url({% static 'img/footer/pattern-2.png'%});">
                    <img src="{% static 'img/footer/footer-logo-1.png'%}" alt="not found" class="img-fluid" width="50%">
            </div>
        </div>
    </div>
    <!-- <div class="overlay"></div> -->
    <div class="row zndx mt-3 pt-3 mx-5">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <div class="address-title">
                <h3>Contact Us</h3>
                <img class="line-shape" src="{% static 'img/shape/line10.png'%}" alt="img-not-found">
            </div>
            <div class="address">
                <p><i class="fas fa-home mr-3"></i>{{ contact.shop_address }}</p>
                <p><i class="fas fa-envelope mr-3"></i>{{ contact.email }}</p>
                <p><i class="fas fa-phone mr-3"></i>{{ contact.phone }}</p>
                <p><i class="fas fa-print mr-3"></i>{{ contact.phone2|default_if_none:contact.phone}}</p>
            </div>
        </div>
        <div class="col-md-5 footer-nav animated fadeInUp">
         <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <h4 class="text-white about-title">About</h4>
                    <img class="line-shape" src="{% static 'img/shape/line10.png'%}" alt="img-not-found">
                    <p style="color: red; text-align: justify;">{{ contact.about_contact }}</p>
                </div>
                <div class="social-share">
                    <div class="footer-social-widget">
                        <h4>Follow Us:</h4>
                        <ul class="footer-social">
                            <li>
                                <a href="{{ contact.twitter }}">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ contact.facebook }}">
                                    <i class="fab fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ contact.instagram }}">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ contact.linkedin }}">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12 footer-cat">
                <h4 class="cat-title">Quick Links</h4 >
                <img class="line-shape" src="{% static 'img/shape/line10.png'%}" alt="img-not-found">
                <ul class="footer-links list-unstyled mt-3">
                    <li><a href="{% url 'home' %}"><i class="fas fa-angle-double-right mr-1"></i>Home</a></li>
                  <li><a href="{% url 'about' %}"><i class="fas fa-angle-double-right mr-1"></i>About</a></li>
                  <li><a href="{% url 'menu' %}"><i class="fas fa-angle-double-right mr-1"></i>Menu</a></li>
                  <li><a href="{% url 'reservation' %}"><i class="fas fa-angle-double-right mr-1"></i>Reservation</a></li>
                  <li><a href="{% url 'catering' %}"><i class="fas fa-angle-double-right mr-1"></i>Catering</a></li>
                  <li><a href="{% url 'contact' %}"><i class="fas fa-angle-double-right mr-1"></i>Contact</a></li>
              </ul>
          </div>
      </div>
  </div><!--
  <div class="col-md-3 footer-social animated fadeInDown">
    <h4 class="text-white follow-us-title">Quick Links</h4>
    <img class="line-shape" src="{% static 'img/shape/line-s1.png'%}" alt="img-not-found">
    <ul class="social">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</div> -->
  <div class="col-md-2 footer-quicklinks animated fadeInDown">
    <h4 class="text-white quick-link-title">More</h4>
    <img class="line-shape" src="{% static 'img/shape/line10.png'%}" alt="img-not-found">
    <ul class="quick-link list-unstyled mt-3">
        <li><a href="{% url 'offers' %}"><i class="fas fa-angle-double-right mr-1"></i>Offers</a></li>
        <li><a href="{% url 'reservation' %}"><i class="fas fa-angle-double-right mr-1"></i>Events</a></li>
        <li><a href="{% url 'blog' %}"><i class="fas fa-angle-double-right mr-1"></i>Blog</a></li>
        <li><a href="{% url 'gallery' %}"><i class="fas fa-angle-double-right mr-1"></i>Gallery</a></li>
    </ul>
</div>
</div>
</footer>
<!-- End Footer Section -->
<footer style="background-color: #000; padding: 20px 0;" class="footer-bs-home">
 <div class="copyright text-center zndx">
    <!-- <hr style="color: #fff; background: #fff;"> -->
    <p class="copyright-text" style="font-size: 14px; color: #fff;">Copyright &copy; 2020 All Rights Reserved by
        <a href="#" style="text-decoration: none; color: #FE6D73;">Textile Agency</a>
    </p>
    <p class="copyright-text" style="font-size: 14px; color: #fff;">Design & Developed by
        <a href="http://www.bitspirits.io/" target="_blank" style="text-decoration: none; color: #FE6D73;">bitspirits.io</a>
    </p>
</div>
</footer>